%line {
	margin: 0px 0px 45px 0px;
	padding: 0px 0px 45px 0px;
	border-bottom: 2px solid #ffffff;
}

.sidebar__title {
	font-size: 24px;
	font-family: $font-family-passion;
	color: #3b3634;
	margin: 0px 0px 25px 0px;
}

.news-detail {
	padding: 150px 0px 320px;
	// .news-detail__inner

	&__inner {
		display: flex;
		margin: 0px -25px;
	}

	// .news-detail__content

	&__content {
		flex: 0 1 70%;
		padding: 0px 25px;
	}

	&__content-box {
		position: relative;
	}

	// .news-detail__content-date

	&__content-date {
		left: 40px;
		top: 0;
		height: 95px;
		width: 90px;
		border-radius: 0 0 50px 50px;
		font-size: 24px;
		font-family: $font-family-passion;
		padding: 15px 0px 0px 0px;

		span {
			display: block;
		}
	}

	// .news-detail__content-img

	&__content-img {
		max-width: 100%;
		width: 100%;
		margin: 0px 0px 30px 0px;
	}

	// .news-detail__content-title

	&__content-title {
		font-family: $font-family-passion;
		color: #3b3634;
		font-size: 40px;
		margin: 0px 0px 45px 0px;
	}

	// .news-detail__content-text

	&__content-text {
		color: #615e5d;
		line-height: 30px;
		margin: 0px 0px 40px 0px;
	}

	// .news-detail__content-quote

	&__content-quote {
		background: $red;
		color: $white;
		font-size: 24px;
		line-height: 28px;
		font-family: $font-family-passion;
		border-radius: 10px;
		padding: 60px;
		margin: 0px 0px 25px 0px;
	}

	// .news-detail__sidebar

	&__sidebar {
		flex: 0 1 30%;
		height: 100%;
		padding: 0px 10px;
		background: #F2F1F0;
		border-radius: 10px;
		padding: 45px;
	}

	&__sidebar-post,
	&__sidebar-search,
	&__sidebar-services,
	&__sidebar-news
	 {
		@extend %line;
	}

	&__content-inner {
		display: flex;
		justify-content: space-between;
		border-top: 2px solid #F2F1F0;
		padding: 35px 0px 0px 0px;
	}

	&__content-tags {
		margin: 0px 0px 35px 0px;
	}

	&__content-author {
		margin: 0px 0px 60px 0px;
	}

	// .news-detail__content-leave

	&__content-leave {

	}

	&__content-comment {
	}

}


.post-sidebar {

	// .post-sidebar__title

	&__title {

	}

	// .post-sidebar__box

	&__box {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(59, 54, 52, 0.70);
			border-radius: 10px;
		}
	}

	// .post-sidebar__box-img

	&__box-img {
		max-width: 100%;
		width: 100%;
	}

	// .post-sidebar__box-text

	&__box-text {
		position: absolute;
		top: 50%;
		left: 0;
		color: $white;
		transform: translateY(-50%);
		font-size: 30px;
		line-height: 35px;
		font-family: $font-family-passion;
		text-align: center;
		padding: 0 30px;
	}
}

.news-sidebar {

	// .news-sidebar__post

	&__post {
		
		&:not(:last-child) {
			margin: 0px 0px 25px 0px;
		}
	}

	// .news-sidebar__post-date

	&__post-date {
		font-size: 14px;
		color: $blue;
		font-weight: $bold;
		margin: 0px 0px 15px 0px;
	}

	// .news-sidebar__post-link

	&__post-link {
		display: inline-block;
		color: #3b3634;
		line-height: 30px;
		transition: color .3s;

		&:hover {
			color: $red;
		}
	}
}

.tags-sidebar {
	display: flex;
	// .tags-sidebar__title

	&__title {
		display: inline-block;
		align-self: center;
		text-transform: capitalize;
		font-size: 24px;
		font-family: $font-family-passion;
		margin: 0px 10px 10px 0px;
	}

	// .tags-sidebar__item

	&__item {
		display: inline-block;
	}

	// .tags-sidebar__link

	&__link {
		display: inline-block;
		margin: 0px 10px 10px 0px;
		font-family: $font-family-passion;
		text-transform: uppercase;
		color: $red;
		background: $white;
		padding: 15px 30px;
		border-radius: 23px;
		transition: background .3s, color .3s;
		
		&:hover {
			color: $white;
			background: $green;
		}
	}

	&__link--secondary {
		color: $red;
		background: #F2F1F0;
	}
}


.author-content {
	padding: 55px;
	background: #F2F1F0;
	border-radius: 10px;
	display: flex;
	// .author-content__img

	&__img {
		margin: 0px 45px 0px 0px;
		
	}

	// .author-content__text

	&__text {

	}

	// .author-content__text-title

	&__text-title {
		font-size: 30px;
		font-family: $font-family-passion;
		color: #3b3634;
		margin: 0px 0px 30px 0px;
	}

	// .author-content__text-descr

	&__text-descr {
		color: #615e5d;
		line-height: 30px;
	}
}



.leave-content {

	// .leave-content__title

	&__title {
		margin: 0px 0px 55px 0px;
	}

}

.comment-content {

	// .comment-content__title

	&__title {
		font-family: $font-family-passion;
		color: #3b3634;
		font-size: 40px;
		margin: 0px 0px 55px 0px;
	}

	// .comment-content__item

	&__item {
		display: flex;
		border-bottom: 2px solid #F2F1F0;
		margin: 0px 0px 55px 0px;
		padding: 0px 0px 55px 0px;
	}

	// .comment-content__item-box

	&__item-box {
		position: relative;
		margin: 0px 40px 0px 0px;
	}

	&__item-img {
		height: 100%;
	}

	// .comment-content__item-date

	&__item-date {
		top: 0;
		left: 10px;
		height: 50px;
		width: 45px;
		border-radius: 0 0 24px 24px;
		padding: 5px 0px 0px 0px;
		

		span {
			display: block;
		}
	}

	// .comment-content__item-text

	&__item-text {
	}

	// .comment-content__item-title

	&__item-title {
		font-size: 24px;
		font-family: $font-family-passion;
		color: #3b3634;
		margin: 0px 0px 40px 0px;
	}

	// .comment-content__item-descr

	&__item-descr {
		line-height: 30px;
		color: #615e5d;
	}

	// .comment-content__item-btn

	&__item-btn {
		padding: 20px 30px;
		border-radius: 30px;
		align-self: flex-start;
	}
}
