.page-news {
	padding: 150px 0px 320px;

	@media (max-width: 1400px) {
		padding: 90px 0 250px;
	}

	@media (max-width: 1000px) {
		padding: 80px 0;
	}

	@media (max-width: 780px) {
		padding: 70px 0px;
	}

	@media (max-width: 480px) {
		padding: 50px 0px;
	}
	// .page-news__inner

	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;

		&>div {
			padding: 15px;
		}
	}
}
