.sponsor {
	background: #F2F1F0;
	
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 310px;
	}

	&__link {
		display: block;
	}

	&__item-img {
		max-width: 100%;
		width: 100%;
		height: 100%;
	}
}