// Colours partial
$white: #fff;
$black: #3B3634;
$red: #FF7C4E;
$orange: #FBB34D;
$blue: #4D93FB;
$gray: #8E8D8D;
$green: #9DC638;
$line-color: #262626;
$brand-color: #52c13e;
$btn-black: #131313;

// Fonts
$font-family: 'Arvo', serif;
$font-family-passion: 'Passion One', cursive;
$font-family-schoolbell: 'Schoolbell', cursive;

// Weights
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrablack: 900;

// Sizes
$font-size-title: 60px;
$font-size-nav: 16px;
$font-size-p: 18px;

// Responsive Sizes
$bp-small: 320px;
$bp-small-2: 480px;
$bp-small-3: 568px;
$bp-medium: 640px;
$bp-medium-2: 900px;
$bp-large: 1060px;