.page-gallery {
	padding: 150px 0 330px;
	overflow: hidden;

	@media (max-width: 1000px) {
		padding: 150px 0px;
	}

	@media (max-width: 780px) {
		padding: 90px 0px;
	}

	@media (max-width: 480px) {
		padding: 70px 0;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@media (max-width: 1400px) {
			margin: -10px;
		}

		@media (max-width: 780px) {
			margin: -5px;
		}
	}

	&__item {
		flex: 0 1 31%;
		margin: 10px;

		@media (max-width: 1400px) {
			height: 300px;
		}

		@media (max-width: 900px) {
			height: 250px;
			flex: 0 1 30%;
		}

		@media (max-width: 780px) {
			flex: 0 1 46%;
			margin: 5px;
		}

		@media (max-width: 480px) {
			flex: 0 1 100%;
		}
	}

	&__button {
		text-align: center;
	}

	&__box-btn {
		margin: 60px auto 0;
		padding: 30px 70px;
		border-radius: 45px;

		@media (max-width: 480px) {
			margin: 40px auto 0;
    		padding: 20px 50px;
		}	
	}
}

.gallery__box--none {
	display: none;
}