.menu {
	margin-right: 60px;
	position: relative;
	z-index: 110;

	@media (max-width: 1000px) {
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		padding: 150px 0px 30px 0px;
		justify-content: center;
		text-align: center;
		overflow-x: auto;
		background-color: #F2F1F0;
		transform: translateY(-100%);
		transition: transform 0.6s ease 0s;

		&.menu.active {
			transform: translateY(0%);
		}
	}
	// .menu__list

	&__list {
		display: flex;
		z-index: 4;

		@media (max-width: 1000px) {
			display: block;
		}
	}

	// .menu__item

	&__item {
		display: flex;
		font-weight: 600;

		@media (min-width: 1000px) {	
			&:hover  {
				.menu__submenu {
					opacity: 1;
					visibility: visible;
				}
				.menu__link-dropdown {
					color: $red;
				}
			}		

		}

		@media (max-width: 1000px) {
			font-size: 35px;
			flex-direction: column;
		}
	}

	&__item:not(:last-child) {
		margin-right: 50px;

		@media (max-width: 1120px) {
			margin-right: 25px;
		}

		@media (max-width: 1000px) {
			margin: 30px 0;
		}
	}

	// .menu__link

	&__link {
		position: relative;
		padding: 39px 0px;
		color: #3B3634;
		text-transform: capitalize;
		transition: color .2s;

		@media (max-width: 1400px) {
			padding: 25px 0px;
		}

		@media (max-width: 1000px) {
			padding: 0;
		}

		@media (min-width: 1000px) {			
			&:hover {
				color: $red;
			}
		}
	}

	&__submenu {
		position: absolute;
		top: 99%;
		width: 250px;
		z-index: 100;
		background: #ffffff;
		border-top: 3px solid $red;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
		opacity: 0;
		visibility: hidden;
		transition: all .3s;

		@media (max-width: 1000px) {
			display: none;
			position: relative;
			background: none;
			width: 100%;
			box-shadow:none;
			border: none;
			margin: 0px 0px 15px 0px;
		}
	}

	&__submenu-item  {
		position: relative;
    	width: 100%;
    	border-bottom: 1px solid #e5e5e5;
		transition: background 500ms ease;

		@media (max-width: 1000px) {
			border: none;
		}
		 
		@media (min-width: 1000px) {			
			&:hover {
				background: $red;
			}
		}
	}

	&__submenu-link {
		width: 100%;
		padding: 15px 30px;
		font-weight: 400;
		transition: color .3s ease, transform .3s ease;

		@media (max-width: 1000px) {
			padding: 10px;
			font-size: 18px;
		}

		@media (min-width: 1000px) {			
			&:hover {
				color: $white;
				transform: translateX(10px);
			}
		}

	}

	&__item-dropdown {
		
		&.active {
			color: $red;

			.menu__dropdown {
				display: block;
			}
		}

		@media (max-width: 1000px) {
			&.active {
				.menu__link-dropdown {
					color: $red;
				}
				.menu__submenu { 
					opacity: 1;
					display: block;
					visibility: visible;
				}
				.menu__item {
					margin: 15px 0px;

					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}

	// .menu__burger

	&__burger {
		display: none;

		@media (max-width: 1000px) {
			display: block;
			position: absolute;
			width: 30px;
			height: 20px;
			right: 20px;
			cursor: pointer;
			z-index: 1000;

			&.active{
				position: fixed;
			}

			&::after,
			&::before {
				content: "";
				background-color: #3B3634;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}

			span {
				position: absolute;
				background-color: #3B3634;
				width: 100%;
				height: 2px;
				left: 0;
				top: 9px;
				transition: all 0.3s ease 0s;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			
			&.active::before{
				transform: rotate(45deg);
				top: 9px;
			}
			&.active span {
				transform: scale(0);
			}
			&.active::after{
				transform: rotate(-45deg);
				bottom: 9px;
			}
		}

	}
}
 