.social-links {

	// .social-links__list

	&__list {
		display: flex;
	}

	// .social-links__item

	&__item:not(:last-child) {
		margin-right: 10px;
	}

	// .social-links__icon

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		color: $white;
		transition: background .3s;

		&[color="red"] {
			background: $red;
		}
		
		&[color="orange"] {
			background: $orange;
		}

		&[color="blue"] {
			background: $blue;
		}

		&:hover {
			background: #3b3634;
		}
	}

}
