.social-links {
	position: relative;
	z-index: 101;
	// .social-links__list

	&__list {
		display: flex;
	}

	// .social-links__item

	&__item {
		border-radius: 50%;

		&:not(:last-child) {
			margin-right: 10px;
		}

		&:nth-child(1) {
			background: $red;
		}
		&:nth-child(2) {
			background: $green;
		}
		&:nth-child(3) {
			background: $blue;
		}
	}

	&__link {
		display: inline-block;
		text-align: center;
		line-height: 50px;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		color: $white;
		transition: background .3s;

		&:hover {
			background: #3b3634;
		}
	}

}
