.social-links {
	// .social-links__list

	&__list {
		display: flex;
	}

	// .social-links__item

	&__item {
		border-radius: 50%;
		margin: 0px 10px 0px 0px;

		&:last-child {
			margin: 0;
		}
		&:nth-child(3n+1) {
			background: $red;
		}
		&:nth-child(3n+2) {
			background: $green;
		}
		&:nth-child(3n+3) {
			background: $blue;
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		color: $white;
		transition: background .3s;

		&:hover {
			background: #3b3634;
		}
	}

}
