.title-icon {
	position: relative;
	margin-bottom: 80px;
	z-index: 1;
	text-align: center;

	&::before {
		content: "\f105";
		font-family: "Flaticon";
		font-size: 190px;
		color: #F3E8E3;
		position: absolute;
		line-height: 150px;
		top: -30px;
		left: 50%;
		transform: translateX(-50%);
	}

	&--light::before {
		color: #413C3A;
	}
}