.contact {
	padding: 150px 0 320px;

	@media (max-width: 1400px) {
		padding: 130px 0 200px;
	}

	@media (max-width: 600px) {
		padding: 100px 0;
	}

	// .contact__form

	&__form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 815px;
		margin: 0 auto;

		@media (max-width: 1400px) {
			max-width: 750px;
		}

		@media (max-width: 540px) {
			flex-direction: column;
		}

		textarea,
		input {
			margin-bottom: 10px;
			background: #F2F1F0;
		}

		input {
			flex: 0 1 49.555%;
			padding: 27px 40px;
			border-radius: 38px;

			@media (max-width: 1400px) {
				padding: 20px 40px;
			}

			@media (max-width: 600px) {
				flex: 0 1 46%;
				padding: 15px 25px;
			}
		}

		textarea {
			flex: 0 1 100%;
			padding: 40px;
			height: 180px;
			border-radius: 58px;
			resize: none;

			@media (max-width: 1400px) {
				min-height: 160px;
			}

			@media (max-width: 540px) {
				border-radius: 38px;
				padding: 15px 25px 15px 25px;
			}
		}

		button {
			margin: 0 auto;
			padding: 30px 70px;
			border-radius: 40px;

			@media (max-width: 1400px) {
				padding: 20px 60px;
				font-size: 15px;
			}

		}
	}


	// .contact__form-text

	&__form-text {
	}

	// .contact__form-email

	&__form-email {
	}

	// .contact__form-number

	&__form-number {
	}

	// .contact__input-message

	&__input-message {
	}

	// .contact__form-btn

	&__form-btn {

	}
}