.gallery {
	margin-top: 6px;

	&__box {
		position: relative;
		overflow: hidden;
		height: 405px;

		@media (max-width: 800px) {

		}
	}

	&__img {
		border: 3px solid $white;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		object-fit: cover;
		object-position: center;
	}

	&__overflow {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(#008aa5, .8);
		border-radius: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		opacity: 0;
		transition: opacity .3s;

		&:hover {
			opacity: 1;

			.gallery__link {
				transform: scale(1);
			}
		}
	}

	&__link {
		transform: scale(0);
		transition: transform .3s;
	}

	&__icon {
		font-size: 40px;
		color: $white;
	}
}