.groomers {
	padding: 120px 0;

	@media (max-width: 1000px) {
		padding: 70px 0 70px;
	}

	@media (max-width: 780px) {
		padding: 70px 0 50px;
	}

	@media (max-width: 480px) {
		padding: 70px 0 30px;
	}

	// .groomers__inner

	&__inner {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: -15px;
	}

	// .groomers__item

	&__item {
		text-align: center;
		padding: 15px;
		flex: 0 1 25%;

		@media (max-width: 1000px) {
			flex-basis: 33.333%;
		}

		@media (max-width: 480px) {
			flex-basis: 100%;
		}
	}

	// .groomers__item-img

	&__item-img {
		height: 215px;
		width: 215px;
		object-position: center;
		object-fit: cover;
		border-radius: 50%;
		margin-bottom: 25px;

		@media (max-width: 1400px) {
			width: 170px;
			height: 170px;
		}
	}

	// .groomers__item-title

	&__item-title {
		font-family: $font-family-passion;
		color: #3B3634;
		font-size: 30px;
		margin-bottom: 15px;
	}

	// .groomers__item-job

	&__item-job {
		color: #615E5D;
		margin-bottom: 30px;
	}

	// .groomers__item-links

	&__item-links {
		.social-links__list {
			justify-content: center;
		}
	}

}
