.takecare {
	padding: 150px 0 110px;
	background: #3B3634;

	@media (max-width: 450px) {
		padding: 80px 0;
	}

	&__subtitle {
		color: $red;

		&::before {
			background: $red;
		}
	}

	&__title {
		color: $white;
	}

	// .takecare__inner

	&__inner {
		display: flex;
		justify-content: space-between;

		@media (max-width: 600px) {
			flex-direction: column;
		}
	}

	// .takecare__item

	&__item {
		flex: 0 1 15%;
		text-align: center;
		color: $white;

		@media (max-width: 900px) {
			flex: 0 1 18%;
		}

		@media (max-width: 600px) {
			margin-bottom: 30px;
		}

		&:hover .takecare__item-box::before{
			transform: scale(1);
			background: $green;
		}

		&:hover .takecare__item-box{
			transform: rotate(360deg);
		}

	}

	// .takecare__item-box

	&__item-box {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto 20px;
		height: 150px;
		width: 150px;
		background: #45403E;
		border-radius: 50%;
		transition: all 500ms ease;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			border-radius: 50%;
			transform: scale(0,0);
			transition: .5s ease;
			z-index: -1;
		}

		@media (max-width: 900px) {
			height: 100px;
			width: 100px;
			margin-bottom: 15px;
		}

	}

	// .takecare__item-icon

	&__item-icon {
		font-size: 60px;
    	color: #e0d8d5;
		transform: rotate(0deg);
	}

	// .takecare__item-title

	&__item-title {
		font-size: 30px;
		font-family: $font-family-passion;
		margin-bottom: 20px;

		@media (max-width: 900px) {
			margin-bottom: 15px;
		}
	}

	// .takecare__item-descr

	&__item-descr {
		color: #e0d8d5;
		font-size: 14px;
		line-height: 30px;
		font-weight: 600;

		@media (max-width: 900px) {
			line-height: 22px;
		}

		@media (max-width: 600px) {
			max-width: 190px;
			margin: 0 auto;
		}
	}
}