.services-detail {
	padding: 150px 0px 320px;

	@media (max-width: 1000px) {
		padding: 150px 0px;
	}

	@media (max-width: 780px) {
		padding: 90px 0px;
	}

	@media (max-width: 480px) {
		padding: 70px 0px;
	}
	// .services-detail__inner

	&__inner {
		display: flex;
		padding: 0 -15px;

		@media (max-width: 1000px) {
			flex-direction: column;
		}
	}

	// .services-detail__content

	&__content {
		flex: 0 1 70%;
		padding: 0 15px;
	}

	&__content-img {
		max-width: 100%;
		width: 100%;
		margin: 0px 0px 35px 0px;
		border-radius: 10px;
	}

	// .services-detail__content-title

	&__content-title {
		font-size: 40px;
		font-family: $font-family-passion;
		color: #3b3634;
		margin: 0px 0px 35px 0px;
	}

	// .services-detail__content-text

	&__content-text {
		color: #615e5d;
		margin: 0px 0px 35px 0px;
		line-height: 30px;
	}

	// .services-detail__content-subtitle

	&__content-subtitle {
		font-family: $font-family-passion;
		color: #3b3634;
		font-size: 30px;
		margin: 0px 0px 40px 0px;
	}

	&__content-inner {
		display: flex;
		margin: 0px 0px 55px 0px;
	}

	&__content-box {
		position: relative;
	}

	// .services-detail__content-list

	&__content-list {
		margin: 0px 0px 70px 0px;
	}

	// .services-detail__content-item

	&__content-item {
		position: relative;
		padding: 0px 0px 0px 25px;
		color: #615e5d;

		&::before {
			position: absolute;
			content: '\e805';
			font-family: "fontello";
			font-size: 14px;
			left: 0;
			top: 50%;
    		transform: translateY(-50%);
			color: $red;
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	// .services-detail__sidebar

	&__sidebar {
		flex: 0 1 30%;
		padding: 0px 15px;

		@media (max-width: 1000px) {
			display: flex;
			justify-content: space-between;
			height: 100%;
		}

		@media (max-width: 780px) {
			flex-direction: column;
		}
	}

	// .services-detail__sidebar-services

	&__sidebar-services {
		background: #F2F1F0;
		margin: 0px 0px 30px 0px;
		padding: 40px;
		border-radius: 10px;

		@media (max-width: 1000px) {
			flex: 0 1 49%;
			margin: 0px 0px 0px 0px;
		}

		@media (max-width: 780px) {
			margin: 0px 0px 30px 0px;
		}
	}

	// .services-detail__sidebar-appointment

	&__sidebar-appointment {
		position: relative;
		background: $orange;
		color: $white;
		padding: 55px 30px 195px 30px;
		border-radius: 10px;
		text-align: center;

		@media (max-width: 1000px) {
			flex: 0 1 49%;
		}
	}
}